
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background: radial-gradient(circle at center, #050505 20%, #0f0f0f 100%);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Major Mono Display', monospace;
    }

    .watch-box {
    background: rgb(255 0 0 / 4%);
    border: 1px solid rgb(255 0 0 / 34%);
    border-radius: 20px;
    padding: 50px 70px;
    box-shadow: 0 0 50px rgb(0 46 255 / 15%);
    position: relative;
    backdrop-filter: blur(20px);
    display: flex;
    z-index: 10000;
    flex-direction: column;
    align-items: center;
    }

    .watch-box::before {
    content: '';
    position: absolute;
    top: -7%;
    left: -5%;
    width: 98%;
    height: 100%;
    background: conic-gradient(from 0deg, #00ffe59b, #000000, #c70095a2);
    animation: spin 10s linear infinite;
    z-index: 0;
    filter: blur(80px);
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .watch {
      color: #00ffe7;
      font-size: 4rem;
      text-shadow: 0 0 15px #00ffe7;
      z-index: 1;
      display: flex;
      align-items: baseline;
      gap: 10px;
    }

    .millis {
      font-size: 1.5rem;
      color: #ff0099;
      text-shadow: 0 0 8px #ff0099;
    }

    .ampm {
      font-size: 2rem;
      color: #ffcc00;
      text-shadow: 0 0 6px #ffcc00;
      margin-left: 10px;
    }

    .label {
      font-size: 1rem;
      color: #ccc;
      margin-top: 15px;
      z-index: 1;
    }
